/* Reset Global para remover estilos automaticos do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --preto: #0f0f0f;
    --cinza-card: #1b1b1b;
    --cinza-borda: #2d2d2d;

    --neon: #00f0ff;
    --verde-neon: #00ffae;

    --texto: #f5f5f5;
    --texto-secundario: #b3b3b3;
}

/* Estilo principal do site */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
    180deg,
    #0a0a0a,
    #121212,
    #080808
    );

    color: white;
}

/* Cabeçalho Principal */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
    background-color: rgba(0,0,0,0.85);
    border-bottom: 1px solid #1f1f1f;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
}

header h1{
    color: var(--neon);
    letter-spacing: 2px;
    text-shadow:
        0 0 5px rgba(0,240,255,0.4);
}

/* Links do menu */
nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

nav a:hover{
    color: var(--neon);
}

/* Área de destaque principal */
.banner{
    /* ... seu código atual ... */

    /* Evita desfoque ao redimensionar a imagem */
    background-repeat: no-repeat;
    
    /* Melhora a nitidez em telas de alta resolução (Retina) */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.8)
        ),
        url("../assets/img/Bmw.png");

    background-size: cover;
    background-position: center;
}

.banner h2{
    font-size: 4rem;
    max-width: 700px;
    color: white;
    text-shadow:
        0 0 20px rgba(0,240,255,0.25);
}

.banner p{
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--texto-secundario);
    max-width: 600px;
}

/* Container dos produtos */
#produtos{
    padding: 60px 40px;
}

#produtos h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #00f7ff;
}

#container-produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: center;
}

/* Card individual de produto */
.card{
    width: 340px;
    background: linear-gradient(
        180deg,
        #1b1b1b,
        #121212
    );

    border: 1px solid #2a2a2a;
    border-radius: 16px;
    overflow: hidden;
    padding: 20px;
    transition: 0.4s;
    position: relative;
}

/* Efeito visual ao passar mouse */
.card:hover{
    transform:
        translateY(-8px)
        scale(1.02);

    border-color: rgba(0,240,255,0.5);
    box-shadow:
        0 0 25px rgba(0,240,255,0.15);
}

/* Imagem do card */
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.card-conteudo{
    padding: 20px;
}

/* Nome do produto */
.card h3{
    margin-bottom: 10px;
    color: #00f7ff;
}

.card p{
    color: #cccccc;
    margin-bottom: 15px;
}

.card span{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.card button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
        90deg,
        var(--neon),
        var(--verde-neon)
    );
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover{
    transform: scale(1.03);
    box-shadow:
        0 0 20px rgba(0,255,174,0.35);
}

/* =========================
CARRINHO
========================= */

.carrinho{
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
}


.item-carrinho{
    background-color: #121821;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #00f7ff22;
}


.total-box{
    margin-top: 30px;
    background-color: #121821;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}


.total-box h2{
    margin-bottom: 20px;
}


#btn-desconto{
    padding: 15px 30px;
    border: none;

    border-radius: 10px;
    background-color: #00f7ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}


/* =========================
CATÁLOGO / PERSONAS
========================= */

.catalogo{
    padding: 60px 40px;
}

/* =========================
PERSONA CARD MELHORADO
========================= */

.persona{
    display: flex;
    gap: 30px;
    background: linear-gradient(
        180deg,
        #161616,
        #101010
    );

    border: 1px solid #232323;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 40px;
    transition: 0.4s;
}


.persona:hover{
    transform: translateY(-5px);
    border-color: rgba(0,240,255,0.4);
    box-shadow:
        0 0 25px rgba(0,240,255,0.12);
}

.persona img{
    width: 350px;
    object-fit: cover;
    /* Evita desfoque ao redimensionar a imagem */
    background-repeat: no-repeat;
    
    /* Melhora a nitidez em telas de alta resolução (Retina) */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    min-height: 20vh;
    border-radius: 6px;
    
}

.persona-info{
    padding: 30px;
    flex: 1;
}

.persona-info h2{
    color: var(--neon);
    margin-bottom: 10px;
}

.tag-persona{
    display: inline-block;
    padding: 8px 14px;
    background-color: rgba(0,240,255,0.1);
    border: 1px solid rgba(0,240,255,0.2);
    border-radius: 30px;
    margin-bottom: 20px;
    color: var(--neon);
}


.descricao-persona{
    color: var(--texto-secundario);
    margin-bottom: 25px;
    line-height: 1.6;
}


/* GRID DOS DADOS */

.dados-grid{
    color: var(--texto-secundario);
    display: grid;

    grid-template-columns:
    repeat(2, 1fr);
    gap: 20px;
}


.dado{
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #2b2b2b;
}


.dado h3{
    color: var(--verde-neon);
    margin-bottom: 10px;
}

/* =========================
TOAST
========================= */

#toast{
    position: fixed;
    bottom: 30px;
    right: 30px;

    background-color: #111;
    color: white;
    padding: 18px 24px;
    border-left: 4px solid var(--verde-neon);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s;
    z-index: 9999;
}

#toast.show{
    opacity: 1;
    transform: translateY(0);
}

.item-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-remover{
    background-color: crimson;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

/* ================================================
Estilização da aba Sobre
================================================ */

.sobre-container{
    padding: 80px 40px;
    /* ... seu código atual ... */

    /* Evita desfoque ao redimensionar a imagem */
    background-repeat: no-repeat;
    
    /* Melhora a nitidez em telas de alta resolução (Retina) */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.8)
        ),
        url("../assets/img/Bmw.png");

    background-size: cover;
    background-position: center;
}


.sobre-hero{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 60px;
}


.sobre-hero h2{
    font-size: 3rem;
    color: var(--neon);
    margin-bottom: 20px;
}


.sobre-hero p{
    color: var(--texto-secundario);
    line-height: 1.8;
}


.sobre-cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}


.sobre-card{
    width: 300px;
    background-color: #161616;
    padding: 30px;
    border-radius: 14px;
    border: 1px solid #2a2a2a;
    transition: 0.4s;
}


.sobre-card:hover{
    transform: translateY(-6px);
    border-color: rgba(0,240,255,0.4);
}

footer{
    background-color: #05070a;
    padding: 60px 20px 30px;
    border-top: 1px solid #1f1f1f;
}


.footer-conteudo{
    text-align: center;
    margin-bottom: 30px;
}


.footer-conteudo h2{
    color: var(--neon);
    margin-bottom: 10px;
}


.footer-links{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.footer-links a{
    color: white;
    text-decoration: none;
}

/* ================================================
IMAGEM DOS PRODUTOS NO CARRINHO
================================================ */

.item-info{
    display: flex;
    align-items: center;
    gap: 20px;
}


.imagem-carrinho{
    width: 90px;
    height: 70px;

    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
}